.gradient {
    position: absolute;
    height: 65vh;
    width: 175%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(115,105,240);
    background: linear-gradient(153deg, rgba(115,105,240,1) 41%, rgba(115,105,254,1) 43%, rgba(252,113,174,1) 78%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: -1;
}